// Inheritance
// @extend
// Mixins
// @mixin @include
// Imports
// @import
// Functions
// @function

@import 'colours';
@import 'cheese_widget';

body {
  color:$red;
  font-size:200%;
}

// @mixin button {
//   background: $red;
//   padding:10px;
// }

.button {
  background: $red;
  padding:10px;
}


input[type='submit'] {
  @extend .button;
  color:green;
  background:green;
  // @include button;
}
